div.vertical-line{
  	width: 1px;
  	background-color: black;
  	height: 90%;
  	float: left;
}

.movieArticle img {
	float:left;
	margin-right: 5px;
	width: 14%;
}

.movieArticle {
	float:left;
	margin-bottom: 5px;
	border: 1px solid black;
}

div.movieInfo {
	float:left;
}

.movieInfo {
	margin-left: 10px;
}

#registreer {
	float: right;
    margin-top: 13px;
}

#btnRegistreer {
	float: right;
}

#nicknameParagraph {
	text-decoration: bold;
}
#form {
	float: right;
}

#btnLogout {
	margin-top: 7px;
	margin-left: 5px;
}

#welcomeMessage {
	float: left;
    margin-top: 13px;
    color: white;
}

h3#headerAcc {
    background-color: lightgray;
    padding: 2px;
}

#accordion .ui-accordion-content {
    width: 100%;
    color: #777;
    font-size: 10pt;
    border: 1px solid black;
    padding: 4px;
}

#accordion .ui-accordion-content > * {
    margin: 0;
    padding: 20px;
}

#accordion .ui-accordion-header {
    background-color: #fcf8e3;
    border: 1px solid black;
}